@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
html,
body,
    #app {
        height: 100%;
    }

    #app {
        display: grid;
        grid-template-rows: 56px 1fr 100px;
    }
*{
    font-family: 'Roboto', sans-serif;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
    color: #fff;
}
.chat {
    height: 500px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}